@import "../../assets/sass/variables.scss";
.commu__button__yellow {
    padding: $paddingLittle;
    background-color: $colorYellowBackground;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: $colorBlack;
}
.commu__button__yellow__round{
    padding: $paddingLittle;
    background-color: $colorYellowBackground;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: $borderMedium;
    color: $colorBlack;
}
.commu__button__yellow__transparent{
    padding: $paddingLittle;
    background-color: none;
    cursor: pointer;
    border: $borderLittle1 solid $colorYellow;
    border-radius: $borderMedium;
    color: $colorWhite;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
@media screen and (max-width:$responsiveMedium) {
    .commu__button__yellow{
        position:relative;
        top: $sizeTypeRem1;
        padding: $paddingLittle;
    }
}