@import "../../../assets/sass/variables.scss";
.commu__navbar__general {
    background-color: $colorBlueDarkBackground;
    width:$sizeTypePercentage100;
    .commu__navbar__logo {
        text-decoration: none;
        color: $colorYellow;
        position: absolute;
        top: $sizeTypeRem2;
        left: $sizeTypeRem2;
    }
    .commu__navbar__parr{
        padding: $paddingMedium2;
        font-size: $sizeMedium;
        ul{
            gap: $sizeTypeRem2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .commu__hamburguer__menu__button{
                display: none;
            }
        }
        li{
            list-style-type: none;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: $colorWhite;
            transition: all 0.2s ease-in;
            &:hover{
                color: $colorYellow;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .commu__responsive__nav{
        display: none;
    }
    @media screen and (max-width:$responsiveMedium){
        .commu__navbar__logo{
           top: $sizeTypeRem2;
           left: $sizeTypeRem1;
        }
        .commu__navbar__parr{
            ul{
                justify-content: end;
                .commu__nabar__none__text{
                    display: none;
                }
                .commu__hamburguer__menu__button{
                    display: block;
                    svg{
                        font-size: $sizeMediumLargeX3;
                        color: $colorYellow;
                    }
                }
            }
        }
        .commu__responsive__nav{
            top: $sizeTypeRem0;
            height: $sizeTypeViewHeight100;
            width: $sizeTypePercentage100;
            display: block;
            text-align: center;
            position: absolute;
            z-index: $sizeZindex2;
            margin-left: -$sizeTypePercentage100;
            transition: all 0.2s ease-in-out;
            background: #201F2F;
            border-top: $borderLittle2 solid $colorYellowBackground;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;
            .commu__sidebar__parr{
                padding: $paddingMedium2;
                .commu__close__responsive{
                    display: flex;
                    justify-content: end;
                    margin-bottom: $sizeTypeRem1;
                    svg{
                        color: $colorYellow;
                        font-size: $sizeMediumX5;
                        cursor: pointer;
                    }
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: $sizeTypeRem3;
                }
                li{
                    list-style-type: none;
                    cursor: pointer;
                    color: $colorYellow;
                    text-align: left;
                    svg{
                        font-size: $sizeMediumX2;
                        margin-right: $sizeTypeRem1;
                    }
                }
                a{
                    text-decoration: none;
                    color: $colorYellow;
                    &:hover{
                        color: $colorYellowBackground;
                    }
                }
            }
            .commu__sidebar__logout{
                border: none;
                background: $colorYellowBackground;
                width: $sizeTypePercentage100;
                font-weight: $weight800;
                letter-spacing: $borderLittle1;
                color: $colorBlack;
                padding: $paddingLittle1;
                cursor: pointer;
            }
        }
    }
    
}
