/*  
    Community CSS version 1.0.0
    Copyright 2023 Community
        1.- Full color
        2.- Screen 
        3.- Responsive Login
*/
/* -----------Full color --------- */
.login__banner__community {
  display: flex;
}
.login__full__community {
  background-color: #ffb727;
  height: 100vh;
  width: 50%;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}
.login__content__community {
  margin: 2rem;
  text-align: center;
}
.login__content__community h1 {
  margin: 1rem;
  font-size: 3.5rem;
  font-weight: 800;
  color: #ffff;
}
.login__content__community img {
  width: 50%;
  height: 100%;
  text-align: center;
}
.login__icon__community {
  font-size: 3rem;
  color: #ffff;
}
/* -----------END of Full color--------- */
/* ----------- Screen --------- */
.login__screen__community {
  margin: 1rem;
  width: 50%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login__screen__community h2 {
  font-size: 2rem;
  color: #000000;
}
.login__form__community {
  text-align: center;
  margin: 0;
}
.login__form__community i {
  display: flex;
  font-size: 2rem;
  color: #ffb727;
}
.login__form__community p {
  margin: 1rem;
  font-size: 1rem;
  color: #000000;
  font-weight: 800;
}
.login__form__community input {
  margin: 0.5rem;
  width: 90%;
  height: 30%;
  font-size: 1rem;
  border-color: #ffb727;
  border-radius: 10px;
}
.login__text__community {
  margin: 1rem;
  text-align: center;
}
.login__text__community p {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}
.login__button__community {
  width: 50%;
  height: 50%;
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 2rem;
  border-color: #ffb727;
  background-color: #ffb727;
}
/* -----------END of Screen--------- */
/* ---------------Responsive 2560px -------*/
@media screen and (min-width: 2560px) {
  .login__banner__community {
    display: flex;
  }
  .login__full__community {
    width: 50%;
    display: flex;
  }
  .login__content__community {
    margin: 2rem;
  }
  .login__content__community h1 {
    margin: 3rem;
    font-size: 10rem;
  }
  .login__content__community img {
    margin: 3rem;
  }
  .login__icon__community {
    font-size: 10rem;
  }
  /* ----------- Screen --------- */
  .login__screen__community {
    width: 50%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .login__screen__community h2 {
    margin: 2rem;
    font-size: 4rem;
    color: #000000;
  }
  .login__form__community {
    text-align: center;
    margin: 3rem;
  }
  .login__form__community i {
    display: flex;
    font-size: 3.5rem;
    color: #ffb727;
  }
  .login__form__community p {
    margin: 1rem;
    font-size: 2rem;
    color: #000000;
  }
  .login__form__community input {
    width: 90%;
    height: 50%;
    font-size: 2rem;
    border-color: #ffb727;
    border-radius: 10px;
  }
  .login__text__community {
    margin: 1rem;
    text-align: center;
  }
  .login__text__community p {
    margin: 2rem;
    font-size: 2rem;
  }
  .login__button__community {
    width: 50%;
    height: 50%;
    color: #ffff;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 2rem;
    border-color: #ffb727;
    background-color: #ffb727;
  }
}
@media screen and (max-width: 850px) {
  .login__banner__community {
    background-color: #2f2e41;
    flex-direction: column;
    height: 100vh;
  }
  .login__full__community {
    margin: 0;
    height: 3rem;
    width: 100%;
    background-color: transparent;
  }
  .login__content__community img {
    display: none;
  }
  .login__icon__community {
    display: none;
  }
  .login__screen__community {
    width: 100%;
    justify-content: end;
    flex-direction: column;
    margin: 0;
  }
  .login__screen__community h2 {
    font-size: 1rem;
    margin: 0;
    color: #ffb727;
  }
  .login__form__community {
    text-align: center;
    margin: 0;
  }
  .login__form__community i {
    font-size: 1.5rem;
    color: #ffff;
  }
  .login__form__community p {
    font-size: 1rem;
    color: #ffb727;
  }
  .login__form__community input {
    height: 50%;
    font-size: 1rem;
    color: #ffff;
    background-color: transparent;
    border-color: #ffb727;
  }
  .login__text__community p {
    font-size: 1rem;
    color: #fff;
  }
  .login__text__community a {
    color: #ffb727;
    font-weight: 600;
  }
  .login__button__community {
    width: 50%;
    color: #2f2e41;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 680px) {
  .login__content__community h1 {
    font-size: 2.5rem;
    margin: 2rem;
  }
  .login__form__community {
    margin: 1rem 1rem 0rem 2rem;
  }
  .login__form__community i {
    font-size: 2rem;
  }
  .login__form__community p {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .login__button__community {
    width: 50%;
    height: 25%;
    margin: 0;
    font-size: 1.5rem;
  }
}
/* -----------END of Responsive sign --------- */
