/*  
    Community CSS version 1.0.0
    Copyright 2023 Community
        1.- Full color
        2.- Screen 
        3.- Responsive Login
*/
/* -----------Full color--------- */
.login__banner__community {
  display: flex;
  height: 39.9rem;
}
.login__full__community {
  background-color: #ffb727;
  clip-path: path("M616.00,0 C465.00,355.00 694.00,153.00 594.0,670 L0.00,670 L0,0 Z");
  width: 50rem;
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.login__content__community{
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 3rem;
  color: #ffff;
}
img {
  margin: 0rem;
  width: 50rem;
  height: 40rem;
  text-align: center;
}
.login__icon__community {
  font-size: 4rem;
  color: #ffff;
}
/* -----------END of Full color--------- */
/* ----------- Screen --------- */
.login__screen__community {
  width: 50rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  margin: 3rem;
  color: #000000;
}
.login__form__community {
  margin: 1rem;
  text-align: center;
}
.login__form__community i {
  display: flex;
  font-size: 2rem;
  color: #ffb727;
}
.login__form__community p {
  margin: 1rem;
  font-size: 1rem;
  color: #000000;
}
.login__form__community input {
  width: 40rem;
  height: 2rem;
  border-color: #ffb727;
  border-radius: 10px;
}
.login__text__community{
  margin: 1rem;
  text-align: center;
}
.login__text__community p{
  font-size: 1rem;
}
.login__button__community {
  width: 25rem;
  height: 3rem;
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  border-color: #ffb727;
  background-color: #ffb727;
}
/* -----------END of Screen--------- */
/* ----------- Responsive Login --------- */
@media screen and (min-width: 2560px){
  .login__full__community{
    width: 50%;
    clip-path: path("M1266,0 C1009,360 1500,500 1129,875 L0.00,875 L0,0 Z");
  }
  h1 {
    font-size: 4rem;
    color: #ffff;
  }
  img {
    margin: 0;
  }
  h2 {
    font-size: 4rem;
  }
  .login__form__community i {
    font-size: 3.5rem;
  }
  .login__form__community p {
    font-size: 2rem;
  }
  .login__form__community input {
    width: 80%;
    height: 50%;
    font-size: 2rem;
    border-color: #ffb727;
    border-radius: 10px;
  }
  .login__text__community{
    margin: 2rem;
  }
  .login__text__community p{
    font-size: 1.5rem;
  }
  .login__button__community {
    height: 50%;
    font-size: 2rem;
    border-radius: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .login__banner__community {
    margin: 0;
    padding: 0;
    height: 44rem;
  }
  .login__full__community{
    clip-path: none;
  }
  .login__content__community img{
    margin-top: 0;
    height: 25rem;
    text-align: center;
  }
  h1 {
    padding: 1rem;
    font-size: 2rem;
    color: #ffff;
  }
  .login__icon__community {
    font-size: 3rem;
  }
  .login__screen__community {

    flex-direction: column;
  }
  h2 {
    font-size: 1.5rem;
  }
  .login__form__community i {
    font-size: 1.5rem;
  }
  .login__form__community p {
    font-size: 1rem;
  }
  .login__form__community input {
    width: 25rem;
    margin: 0;
  }
}
@media screen and (max-width: 850px) {
  .login__banner__community {
    background-color: #2f2e41;
    flex-direction: column;
  }
  .login__full__community{
    margin: 0;
    width: 100%;
    background-color: transparent;
  }
  h1 {
    font-size: 1rem;
    color: #ffb727;
  }
  img {
    display: none;
  }
  .login__icon__community {
    display: none;
  }
  .login__screen__community {
    width: 100%;
    justify-content: end;
    flex-direction: column;
  }
  h2 {
    font-size: 1.5rem;
    color: #ffb727;
  }
  .login__form__community {
    text-align: center;
  }
  .login__form__community {
    margin: 1rem 1rem 0rem 4rem;
  }
  .login__form__community i {
    font-size: 1.5rem;
    color: #ffff;
  }
  .login__form__community p {
    font-size: 1rem;
    color: #ffb727;
  }
  .login__form__community input {
    height: 2rem;
    font-size: 1rem;
    color: #ffff;
    background-color: transparent;
    border-color: #ffb727;
  }
  .login__text__community p{
    font-size: 1rem;
    color: #fff;
  }
  .login__text__community a{
    color: #ffb727;
    font-weight: 600;
  }
  .login__button__community {
    margin: 1rem;
    width: 25rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    margin: 1rem;
    font-size: 2rem;
  }
  h2 {
    margin: 2rem;
    font-size: 1rem;
  }
  .login__form__community {
    margin: 1rem 1rem 0rem 2rem;
  }
  .login__form__community i {
    font-size: 2rem;
  }
  .login__form__community p {
    font-size: 1rem;
  }
  .login__form__community input {
    height: 3rem;
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .login__button__community {
    width: 25rem;
    font-size: 1.5rem;
  }
} 
/* -----------END of Responsive Login --------- */