@import "../../assets/sass/variables.scss";
.commu__tips__container{
    padding: $sizeTypeRem1;
    .commu__tips__title__faq{
        color: $colorYellow;
        font-weight: $weight400;
        margin-top: $sizeTypeRem1;
    }
    .commu__tips__parr{
        color: $colorWhite;
        margin-top: $sizeTypeRem1;
    }
}