@import "../../assets/sass/variables.scss";
.commu__card__subs{
    width: $sizeTypeRem4 + $sizeTypeRem4 + $sizeTypeRem4;
    justify-content: center;
    width: 250px;
    height: min;
    background: transparent;
    border-radius: $borderMedium;
    border: $borderLittle1 $colorYellow solid;
    padding: $paddingMedium2;
    text-align: justify;
    color: $colorWhite;
    box-shadow: 0px 0px 10px $colorYellow;
    margin: 0 auto;
    .commu__card__subs__title{
        color: $colorYellow !important;
        font-size: $sizeMediumX2;
        text-align: center;
    }
    .commu__card__subs__price{
        color: $colorYellow;
        text-align: start;
        font-size: $sizeMediumX2;
        font-weight: $weightBold;
    }
    .commu__card__subs__advantage{
        color: $colorYellow;
        text-align: start; 
        font-size: $sizeMediumX2;
        font-weight: $weightBold;
        margin-top: $paddingMedium4;  
    }
    .commu__card__subs__buttons{
        margin-bottom: $paddingMedium;
        margin-top: $paddingMedium2;
        margin-left: -1.2rem;
    }
}