@import "../../assets/sass/variables.scss";
.commu__section__post{
    .commu__section__navigation{
        display: flex;
        flex-direction: row;
    }
    .commu__post{
        display: flex;
        width: $sizeTypePercentage100;
        background-color: $colorBlueDarkSNavBackground;
        h1{
            color: $colorWhite;
            padding: $paddingMedium;
            text-transform: capitalize;
        }
        .commu__section__create__post{
            display: flex;
            flex-direction: column;
            width: $sizeTypePercentage100;
            .commu__post__social{
                padding-left: $paddingLarge + $paddingLarge;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: $sizeTypeRem2;
            }
        }
    }
}
.commu__calendar{
    width: $sizeTypePercentage100;
    padding: $sizeTypeRem3;
}
.commu__post__container{
    width: $sizeTypePercentage100;
}
.commu__mis__publicaciones{
    width: $sizeTypePercentage100;
    display: flex;
    flex-direction: column;
    position: relative;
}