@import '../../assets/sass/variables.scss';
.commu__section__form__container {
    padding: $sizeTypeRem1;
    .commu__form__subtitle {
        color: $colorWhite;
    }
    .commu__form__subtitleOne {
        color: $colorWhite;
        margin-top: $sizeTypeRem2;
        margin-bottom: $sizeTypeRem1;
    }
    .commu__flexrow__form {
        display: flex;
        flex-direction: row;
        gap: $sizeTypeRem3;
        margin-top: $sizeTypeRem2;
        .commu__flexclm__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 300px; // Ajusta este valor según necesites
            .commu__creation__label {
                color: $colorWhite;
                font-weight: $weight400;
                font-size: $sizeMediumX1;
                margin-bottom: $paddingLittle;
            }
            .commu__creation__input {
                border-radius: $borderMedium;
                border: $borderLittle1 solid $colorYellow;
                background-color: $colorBlueDarkBackground;
                padding: $paddingLittle2;
                color: $colorWhite;
                outline: none;
                width: 100%;
                box-sizing: border-box;
                option {
                    background-color: $colorBlueDarkBackground;
                    color: $colorWhite;
                }
                &:focus {
                    border-color: lighten($colorYellow, 10%);
                    background-color: darken($colorBlueDarkBackground, 5%);
                }
            }
            // Agregado para el mensaje de error debajo del input
            .commu__error__message {
                color: red;
                font-size: 0.85rem;
                margin-top: 5px;
                font-weight: $weight600;
            }
        }
    }
    @media screen and (max-width: $responsiveNormal) {
        .commu__flexrow__form {
            flex-direction: column;
            .commu__flexclm__form {
                max-width: none;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .commu__flexbtn {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: $sizeTypeRem2;
        gap: $sizeTypeRem1;
        .commu__btn__cancel {
            color: $colorWhite;
            font-weight: $weight800;
            background: $colorBlueDarkBackground;
            border: none;
            padding: $paddingLittle2;
            width: $sizeTypePercentage30;
            cursor: pointer;
        }
        .commu__btn__send {
            color: $colorBlack;
            font-weight: $weight800;
            background: $colorYellowBackground;
            border: none;
            padding: $paddingLittle2;
            width: $sizeTypePercentage30;
            cursor: pointer;
        }
    }
    // Diseño de la tabla
    table {
        border: $borderLittle1 solid $colorWhiteBackground;
        background: $colorTableContent;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: $sizeTypePercentage100;
        table-layout: fixed;
        thead {
            tr {
                background-color: $colorTable;
                color: $colorWhite;
                border-bottom: $borderLittle1 solid $colorWhiteBackground;
                th {
                    padding: $paddingMedium;
                    text-align: center;
                    font-weight: $weight600;
                }
            }
        }
        tbody {
            tr {
                transition: 0.3s all ease-in;
                &:hover {
                    background: $colorTable;
                    transition: 0.3s all ease-in-out;
                }
                td {
                    padding: $paddingMedium;
                    text-align: center;
                    color: $colorWhite;
                    font-weight: $weight100;
                    border-bottom: $borderLittle1 solid $colorWhiteBackground;
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        table {
            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: $borderLittle1;
                margin: -$borderLittle1;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: $borderLittle1;
            }
            tr {
                border-bottom: $borderLittle3 solid $colorWhiteBackground;
                display: block;
            }
            td {
                border-bottom: $borderLittle1 solid $colorWhiteBackground;
                display: block;
                margin: auto;
                font-size: $sizeLittle1;
                text-align: center;
                &::before {
                    content: attr(data-label);
                    float: left;
                    text-transform: uppercase;
                }
                &::last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    // Botones de acción
    .commu__btn__update__action,
    .commu__btn__delete__action {
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: auto;
        svg {
            font-size: $sizeMedium + $sizeLittle;
        }
    }
}