@import "../../assets/sass/variables.scss";
.commu__post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // Ajuste para 3 columnas
    gap: $sizeTypeRem1;
    padding-left: $sizeTypeRem1;
    // Ajustar para dispositivos pequeños
    @media screen and (max-width: $responsiveMedium) {
        grid-template-columns: 1fr; // Solo una columna en pantallas pequeñas
        padding-left: $sizeTypeRem0;
    }
}

.commu__post__facebook,
.commu__post__instagram,
.commu__post__tiktok,
.commu__post__twitter,
.commu__post__youtube,
.commu__post__linkedin {
    background-color: $colorWhite;
}

.commu__section__content {
    padding: $sizeTypeRem2;
    width: $sizeTypePercentage100;
    .commu__title__button {
        display: flex;
        flex-direction: row;
        width: $sizeTypePercentage100;
        .commu__section__title__post {
            color: $colorYellow;
        }
        a {
            text-decoration: none;
            color: $colorBlueDark;
        }
    }
    .commu__section__content__post {
        margin-top: $sizeTypeRem2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: $sizeTypeRem2;
        @media screen and (max-width: $responsiveMedium) {
            grid-template-columns: 1fr;
            gap: $sizeTypeRem2;
        }
    }
}

@media screen and (max-width: $responsiveMedium) {
    .commu__post {
        grid-template-columns: 1fr;
        align-self: center;
        padding-left: $sizeTypeRem0;
    }
    .commu__section__content {
        padding: $sizeTypeRem3;
    }
}