@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Inder', sans-serif;
}
/*Firefox*/
html{
  scrollbar-color:#2f2e41 #000;
  scrollbar-width: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*Webkit*/
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #000;
}
html::-webkit-scrollbar-thumb {
  background-color:#2f2e41;
}
::selection {
  color: #000;
  background-color: #ffb727;
}
::-moz-selection {
  color: #000;
  background-color: #ffb727;
}
/*Tools of teh genral styles*/
::placeholder{
  color: rgba(176, 186, 195, 0.4);
}