/*  
    Community CSS version 1.0.0
    Copyright 2023 Community
        1.- Full color
        2.- Screen 
        3.- Responsive Login
*/
/* -----------Full color--------- */
.banner__login {
    display: flex;
  }
  .full__login {
    background-color: #ffb727;
    clip-path: path("M616.00,0 C465.00,355.00 694.00,153.00 594.0,663 L0.00,663 L0,0 Z");
    width: 50%;
    height: 100%;
    position: relative;
  }
  .content__login {
    text-align: center;
  }
  h1 {
    margin: 3rem;
    font-size: 3rem;
    color: #ffff;
  }
  img {
    margin: 3rem;
    width: 50%;
    text-align: center;
  }
  .circle__icon {
    font-size: 3.5rem;
    color: #ffff;
  }
  /* -----------END of Full color--------- */
  /* ----------- Screen --------- */
  .screen__login {
    width: 50%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 4rem;
  }
  .form_login {
    margin: 1rem;
  }
  .form_login i {
    display: flex;
    font-size: 2rem;
    color: #ffb727;
  }
  .form_login p {
    margin: 1rem;
    font-size: 1rem;
    color: #000000;
  }
  .form_login input {
    width: 80%;
    height: 25px;
    background-color: #b0bac3;
    border-color: transparent;
    border-radius: 10px;
  }
  p {
    margin: 1rem;
  }
  .button__login {
    width: 150px;
    height: 50px;
    color: #ffff;
    font-size: 1rem;
    border-radius: 1rem;
    border-color: #ffb727;
    background-color: #ffb727;
  }
  /* -----------END of Screen--------- */
  /* ----------- Responsive Login --------- */
  @media screen and (max-width: 1200px) {
    .banner__login {
      display: flex;
    }
    .full__login {
      width: 50%;
      clip-path: none;
    }
    img {
      margin: 6rem;
      width: 50%;
      text-align: center;
    }
    .circle__icon {
      font-size: 4rem;
      color: #ffff;
    }
  }
  @media screen and (max-width: 850px) {
    .banner__login {
      display: flex;
      background-color: #ffb727;
      height: 100vh;
      flex-direction: column;
    }
    .full__login {
      width: 100%;
      height: 10vh;
      background-color: transparent;
    }
    h1 {
      margin: 4rem;
      font-size: 4rem;
      color: #ffff;
    }
    img {
      display: none;
    }
    .circle__icon {
      display: none;
    }
    .screen__login {
      width: 100%;
      justify-content: end;
      flex-direction: column;
    }
    h2 {
      font-size: 3rem;
      color: #ffff;
    }
    .form_login {
      text-align: center;
    }
    .form_login {
      margin: 2rem 2rem 0rem 4rem;
    }
    .form_login i {
      font-size: 3rem;
      color: #ffff;
    }
    .form_login p {
      font-size: 2rem;
      color: #ffff;
    }
    .form_login input {
      width: 80%;
      height: 50px;
      font-size: 1.5rem;
      background-color: #b0bac3;
      border-color: transparent;
    }
    p {
      font-size: 1.5rem;
    }
    .button__login {
      width: 50%;
      color: #ffb727;
      font-size: 1.5rem;
  
      border-color: #ffff;
      background-color: #ffff;
    }
  }
  @media screen and (max-width: 750px) {
    h1 {
      margin: 1rem;
      font-size: 2rem;
    }
    h2 {
      margin: 2rem;
      font-size: 1rem;
    }
    .form_login {
      margin: 1rem 1rem 0rem 2rem;
    }
    .form_login i {
      font-size: 2rem;
    }
    .form_login p {
      font-size: 1rem;
    }
    .form_login input {
      height: 25px;
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    .button__login {
      width: 25%;
      font-size: 1rem;
    }
  }
  /* -----------END of Responsive Login --------- */